.popup_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.popup_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .modalWindow {
    max-height: 100%;
  }
}
.popup_body {
  width: 374px;
  position: relative;
  height: 361px;
  margin-top: 30px;
  margin-bottom: 32px;
  margin-right: 14px;
  margin-left: 30px;
}

.close {
  position: fixed;
  right: 10px;
  top: 3%;
  padding: 10px;

  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;

  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.popup_input {
  width: 332px;
  height: 30px;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
}
.popup_img {
  width: 331px;
  height: 205px;
}

.popup_btn {
  width: 332px;
  height: 30px;
  background: #4997d0;
  border-radius: 3px;
  margin-top: 19px;
  margin-bottom: 0;
  border: none;
  padding: 0;
}
.popup_btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: inline;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.comment_block {
  margin-bottom: 20px;
}
.comment_block:first-child {
  margin-top: 34px;
}
.comment_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.comment_date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #999999;
}
