.gallery {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  position: absolute;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 320px) {
  .gallery {
    max-width: 320px;
    height: 794px;
  }
}
.gallery_text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 15px 0 0 0;
}

.gallery_container {
  display: flex;
  width: 768px;
  flex-wrap: wrap;
}
@media (max-width: 320px) {
  .gallery_container {
    flex-direction: column;
  }
}
.gallery_image {
  display: inline;
  margin-right: 20px;
  margin-top: 30px;
  width: 229px;
  height: 142px;
}

.gallery_image:nth-child(1) {
  margin-left: 20px;
}
.gallery_image:nth-child(4) {
  margin-left: 20px;
  margin-bottom: 30px;
}
.gallery_image:nth-child(5) {
  margin-bottom: 30px;
}
.gallery_image:nth-child(6) {
  margin-bottom: 30px;
}
@media (max-width: 320px) {
  .gallery_image {
    margin: 30px, 20px;
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .gallery_text {
    margin: 15px, 44px, 0px, 43px;
  }
}
.footer {
  height: 56px;
  border-top: 1px solid #cccccc;
  margin: 377px, 20px, 0px, 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer_text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #cccccc;
}
@media (max-width: 320px) {
}
